/* CSS Variables */
:root {
    --white-color: #ffffff;
    --light-gray: #b3b3b3;
    --black-color: #000000;
    --primary-color: #e60914;
    --transition: all ease .5s;
}

/* CSS Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: "Inter", sans-serif;
}

/* Custom Class */
.container {
    width: 1400px;
    margin: 0 auto;
}

.pt-5 {
    padding-top: 50px;
}

/* Header */
header {
    height: 85vh;
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.8) 0%,
            rgba(0, 0, 0, 0.6) 30%,
            rgba(0, 0, 0, 0.9) 100%), url('assets/images/home-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px;
}

.navbar .logo {
    width: 150px;
}

.navbar .logo img {
    width: 100%;
}

.navbar .signin-btn a {
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: .85rem;
    font-weight: bold;
    padding: 8px 18px;
    border-radius: 5px;
    transition: var(--transition);
}

.navbar .signin-btn a:hover {
    background-color: #e60914c6;
}

/* Home Section */
.home-section {
    color: var(--white-color);
    text-align: center;
    margin: 150px auto;
}

.home-section h1 {
    font-size: 3.5rem;
    font-weight: 900;
    width: 650px;
    margin: 0 auto;
}

.home-section h4 {
    margin: 20px auto 40px;
    font-size: 1.2rem;
}

.email-form {
    margin: 18px 0;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.email-form input {
    width: 400px;
    height: 55px;
    border: 1px solid var(--light-gray);
    border-radius: 5px;
    padding-left: 15px;
    font-size: 1rem;
    background-color: #131313d4;
    color: var(--white-color);
}

.email-form input::placeholder {
    color: var(--light-gray);
}

.email-form button {
    cursor: pointer;
    padding: 15px 26px;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    transition: var(--transition);
}

.email-form button:hover {
    background-color: #e60914c6;
}

/* Red Line - Divide */
.divide {
    background-color: var(--black-color);
}

.divide .inner-divide {
    border: 2px solid red;
    border-radius: 100%;
}

/* Main */
main {
    background-color: var(--black-color);
    color: var(--white-color);
}

/* Trending Section */
.trending-cards {
    margin: 25px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.trending-cards .card {
    width: 200px;
    position: relative;
    transition: all ease-in-out .2s;
}

.trending-cards .card:hover {
    transform: scale(1.05);
}

.trending-cards .card .serial {
    position: absolute;
    bottom: 10px;
    left: -15px;
    font-size: 5.5rem;
    font-weight: 800;
    color: var(--white-color);
    z-index: 1;
}

.trending-cards .card img {
    border-radius: 8px;
    width: 90%;
}

/* Join Section */
.join-cards {
    margin-top: 15px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.join-cards .card {
    background: linear-gradient(150deg, #192145, #210e18);
    border-radius: 10px;
    padding: 30px 15px;
    position: relative;
}

.join-cards .card h3 {
    font-size: 1.4rem;
}

.join-cards .card p {
    color: var(--light-gray);
    margin: 20px 0 100px;
}

.join-cards .card img {
    position: absolute;
    right: 10px;
    bottom: 20px;
    width: 80px;
}

/* Questions Section */
.qs-container {
    padding-bottom: 50px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.qs-container a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2e2e2e;
    color: var(--white-color);
    font-size: 1.5rem;
    padding: 28px 25px;
    transition: var(--transition);
}

.qs-container a:hover {
    background-color: #414141;
}